* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6185f8;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;

  /* Got this from web, bricks like in Mario */
  --units: 0.5vmax;
  --brick1: #DF5900;
  --brick2: #EF6000;
  --lines: black;
  --gp-ln: 50% / calc(var(--units) * 10) calc(var(--units) * 5);
  --gp-cn: 50% / calc(var(--units) * 5) calc(var(--units) * 5);
  height: 100svh;
  background: repeating-conic-gradient(
        from 90deg at 95% 55%,
        var(--lines) 0% 25%,
        #fff0 0% 100%
      )
      var(--gp-cn),
    repeating-linear-gradient(
        180deg,
        var(--lines) 0 5%,
        #fff0 0 50%,
        var(--lines) 0 55%,
        var(--brick2) 0 100%
      )
      var(--gp-ln),
    repeating-linear-gradient(
        90deg,
        var(--brick1) 0 47.5%,
        var(--lines) 0 50%,
        var(--brick1) 0 97.5%,
        var(--lines) 0 100%
      )
      var(--gp-ln);
}
.stats h3 {
  align-self: flex-start;
  font-family: "Press Start 2P";
  font-size: 1em;
  padding: 1px;
  float: left;
  background-color: white;
}
.stats div {
  display: flex;
  align-self: flex-start;
  font-family: "Press Start 2P";
  line-height: 15px;
  font-size: 0.9em;
  float: left;
  background-color: white;
}

canvas {
  transform: rotate(180deg);
  width: 100%;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}

.generateBtn{
  padding: 2% 2%;
  font-family: "Press Start 2P";
  font-weight: 400;

  /* styling */
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 213, 0);
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.generateBtn:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.39);
}