*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #6185f8;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  height: 100vh;
  background-color: #eeaf36;
}

.stats h3{
  align-self: flex-start;
  font-family: "Press Start 2P";
  font-weight: 400;
  float: left;
}

.stats div{
  align-self: flex-start;
  font-family: "Press Start 2P";
  font-weight: 400;
  line-height: 23px;
  float: left;
}